.profile-card {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.go-back-btn{
    text-align: right; /* Align the content inside the container to the right */
    padding-right: 20px;
    margin-top: 20px;
}

